*{
  margin: 0;
  padding: 0;
}
.header {
  margin: 20px 0 0 10px;
}
#dot-icon{
  margin-top: 25px;
}
  #info{
   margin: -18px 0 0 20px;
   width: 85%;
}
#cake-img{
  width: 95%;
  margin-top: 10px;
}
#serve{
  display: flex;
  margin-top: 10px;
}
#time{
  display: flex;
  margin-top: 15px;
}
small, b{
  font-size: 0.8rem;
}
.timing{
  display: flex;
  margin-left: 12px;
}
.timing img{
  width: 30px;
  height: 30px;
}
.time-text{
  display: inline;
}
.light-text{
  color: gray;
}
.coloured{
  color: #f2994a;
}
.ingredients, .instructions {
  margin-left: 10px;
  margin-top: 10px;
}
.input{
  display: flex;
  margin-top: 10px
}
.detail{
  position: relative;
  top: 15px;
}
.ingredients input{
  margin: 15px 5px 0 0;
}
.ingredients p i{
 position: relative;
 top: 10px;
}
.last input{
  margin-top: -40px;
}
.instructions{
  margin-top: 20px;
}
.instructions label{
  line-height: 1.5;
}
.inst{
   position: relative;
   top: -2rem;
}
.num{
  height: 30px;
  width: 30px;
  color: white;
  background-color: #f2994a;
  border-radius: 5px;
  text-align: center;
  margin: 10px 10px 10px 0;
}
.num p{
  position: relative;
  top: 5px;
  left: 0;
}
.detail-inst{
  width: 90%;
  position: relative;
  top: -2.5rem;
  left: 2rem;
}
.bottom {
  position: relative;
  bottom: 1rem;
  text-align: center;
  margin-top: 3rem;
}
.bottom a, #source{
  color: black;
}
#source{
  position: relative;
  top: 1rem;
  left: 2rem;
  font-size: 0.7rem;
}
@media (min-width:768px){
  body{
    font-size: 2rem;
  }
  .header{
    margin-left: 4rem;
  }
  #dot-icon{
    margin-top: 3rem;
    height: 40px;
    width: 40px;
  }
  #info{
    margin: -2.8rem 0 0 4rem;
  }
  #serve img{
    width: 80px;
    height: 80px;
  }
  small, b{
    font-size: 2rem;
  }
  #time{
    display: block;
    padding: 20px;
  }
 .timing{
    margin: 10px 0 15px 0;
  }
  #time-info{
    position: absolute;
    right: 4rem;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px gray;
  }
  .timing img{
    width: 60px;
    height: 60px;
  }
  .time-text{
    display: block;
  }
  .ingredients{
    width: 60%;
  }
  .input input{
    width: 50px;
    position: relative;
   
  }
 .num{
   height: 50px;
   width: 50px;
 }
 .detail-inst{
   position: relative;
   left: 4rem;
   top: -4rem;
 }
}